
*{
    font-family: 'Girassol', cursive;
}
.nav{
    color:black;
}
.nav-link .navbar-brand{
    color: yellow !important;
}
.navbar-brand{
    font-size: 3vw !important;
}
.nav-link{
    font-size: 1.3vw;
}

.content{
  text-align: center;
  font-size: 90px;
  color:yellow;
  margin-bottom: 35vw;
}
h1{
    text-align: center !important;
    font-size: 45px!important ;
}
p{
    font-size: 20px;
    text-align: center;
    font-family:'Comic Neue', cursive;
    color:steelblue;
}
h6{
  font-family: 'Comic Neue', cursive;
  font-size: 25px;
}
body, html {
  height: 100%;
  
  font-family:'Baloo Bhaina 2', cursive;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("leoclub3.jpg");
  
  /* Add the blur effect */

  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
 /* border: 3px solid #f1f1f1;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.bg-text1 {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
 /* border: 3px solid #f1f1f1;*/
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;*/
  text-align: center;
}
.border{
  
  padding: 20px;
  border-width: 10px;
}

.parallax {
    height: 30vw;
    /* The image used */
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    
}
/* Footer with icons */
.middle{
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;

}

.btn{
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;

}
.btn i{
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
}
.btn:hover i{
transform: scale(1.3);
color: #f1f1f1;
}
.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa{
  0%{
    left: -110%;
      top: 90%;

    }50%{
      left: 10%;
          top: -30%;


      }100%{
        top: -10%;
              left: -10%;

      }

}
.footer{
  background:rgb(1, 1, 54);
  color: #d3d3d3;
  height: 400px;
  
  left: 0;
   bottom: 0;
   width: 100%;

}
.footer .footer-content
{
  border: 1px solid #3498db;
  height: 350px;
}
.footer .footer-bottom{
  background: rgb(1, 1, 54);
  color:#3498db ;
  height: 50px;
  width: 100%;
  text-align: center;
  position:bottom;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}
font-family: 'Roboto', sans-serif;
font-family: 'Baloo Bhaina 2', cursive;
font-family: 'Comic Neue', cursive;
font-family: 'Merriweather', serif;
font-family: 'Girassol', cursive;
font-family: 'Bangers', cursive;
font-family: 'Crimson Text', serif;
font-family: 'Dancing Script', cursive;
