body,html{
    height:100vh;
    width: 100wh;
    background-image: url(leoclub1.jpg);
    background-position: 0% 9%;
    background-size: cover;
    background-repeat: no-repeat;
}
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-link .navbar-brand{
    color: yellow !important;
}
.navbar-brand{
    font-size: 3vw !important;
}
.nav-link{
    font-size: 1.3vw;
}
.content{
    margin-top: 22vw;
    margin-bottom: 35vw;
}
h1{
    text-align: center;
    font-size: 5vw !important ;
}
p{
    font-size: 22px;
    text-align: center;
}
