@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&family=Crimson+Text&family=Merriweather:wght@300&family=Nanum+Gothic&display=swap');
*{
    font-family:'Crimson Text', serif ;
}
body, html {
  height: 100%;
  width:100%;
  font-family:'Crimson Text', serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.nav{
    color:white;
}
.nav-item > a:hover {
  display: block;
  background-color:white ;
  color: #0d2240 !important;
  float: unset;
  padding: 5px;
  border-radius: 5% 5%;

}
.nav-link .navbar-brand{
    color: #ebb700 !important;
}
.navbar-brand{
    font-size: 30px !important;
    font-weight: 900;
}
.navbar-brand > img {
  border-radius: 50%;
  margin-top: 0 !important;
}
.nav-link{
    font-size: 30px;
    
    margin-left:10px;
    margin-right: 10px;
}

.content{
  text-align: center;
  font-size: 90px;
  color:#ebb700;
  margin-bottom: 35vw;
}
.first{
  object-fit: cover;
}
.third{
  object-fit: cover !important;
}
h1{
    text-align: center !important;
    font-size: 45px!important ;
}
p{
    font-size: 20px;
    text-align: center;
    font-family: 'BioRhyme', serif;
    color:#ebb700;
}
h6{
  font-family: 'Crimson Text', serif;
  font-size: 25px;
}

.card{
  margin-left: auto;
  margin-right: auto;
  width: 100% !important;
  height:55vh !important;
}
.card-body{
  text-align: center;
}
.cardimage {
  height: 300px;
  width: 100%;
}
.card > img {
  object-fit: cover;
  background-color: black;
}
.board{
  color: #0d2240;
  margin-left: 39%;
  margin-right: 39% !important;
  text-shadow: 4px 4px 4px black;
}
.board1{
  text-align: center;
  color: #0d2240;
  text-shadow: 4px 4px 4px black;
}
.board1 > h1 {
  text-align: center;
  margin-right: 38%;
  margin-left: 38%;
}
.avatar {
  vertical-align: middle;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
}

.names{
  text-align: center;
  margin-left: 35%;
}
.bg-shadow{
  
  text-shadow: 5px 5px 5px black;
  background-color:#0d2240 ;
  box-shadow: 10px 10px 10px black;
  border-radius: 25%;
  padding:35px;
}

.bg{
  background-color:#0d2240;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image {
  /* The image used */
  background: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url("../img/leoclub3.jpg");
  
  
  /* Add the blur effect */

  
  /* Full height */
  height: 100%; 
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@media (max-width: 767px){
  .bg-text > h3{
    font-size: 4vh !important;
  }
  .bg-text > h1 {
    margin-left: 30% !important;
    font-size: 3vh;
  }
  .text > h3{
    font-size: 4vh !important;
  }
  .text > h1{
    font-size: 5vh !important;
  }
  .navbar-brand{
    font-size: 3.5vh !important;
    margin: 0px;
  }
  .navbar-brand > img {
    height: 60px !important;
    width: 60px !important;
    margin: 0px;
  }
  .nav-link {
    font-size: 4vh !important;
  }
  .first{
    height: 80% !important;
    width:80% !important;
  }
  .third{
    margin-left: 0 !important;
    margin-right: 20% !important;
  }
  .board > h1{
    font-size: 5.5vh !important;
    text-align: center !important;
  }
  .board1 > h1{
    font-size: 4.5vh !important;
    margin-left:15.5%;
    margin-right: 15.5%;
  }
  .card{
    height: 90vh !important;
  }
  .card > img {
    object-fit: contain;
    background-color: black;
  }
  .card-text{

  }
}
@media (min-width:768px) and ( max-width:1024px){
  .text > h3{
    font-size: 4vh !important;
  }
  .text > h1{
    font-size: 5vh !important;
  }
  .card{
    height: 96vh ;
    border: white !important;
  }
  .card-body > h4{
    font-size: 4.8vh !important;
  }
  .card-body > p {
    font-size: 3.7vh !important;
  }
  .card > img {
    object-fit: contain;
    background-color: black;
  }
  .card {
    height: 100vh !important;
  }
}
.css-selector{
  background: linear-gradient(
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)
  );
}
.bg-color{
  background-color:rgb(1, 1, 54);
}
/* Position text in the middle of the page/image */
.bg-text {
  /*background-color: rgb(0,0,0); /* Fallback color */
  /*background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  background-size: cover;
  color: white;
  font-weight: bold;
  font-size: 3vh !important;
 /* border: 3px solid #f1f1f1;*/
  position: relative;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  padding: 20px;
  text-align: center;
}
.bg-text1 {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
 /* border: 3px solid #f1f1f1;*/
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;*/
  text-align: center;
}
.border{
  
  padding: 20px;
  border-width: 10px;
}
.icon {
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid #545454;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.125rem;
  color: #ffffff;
  text-decoration: none;
}

.icon:hover {
  background-color: #fff;
  text-decoration: none;
  color: #212121;
}
.parallax {
    height: 30vw;
    /* The image used */
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    
}
/* Footer with icons */
/*.middle{
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;

}

.btn{
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color:#00FFFF ;
  overflow: hidden;
  position: relative;

}
.btn i{
  line-height: 90px;
  font-size:30px;
  transition: 0.2s linear;
}
.btn:hover i{
transform: scale(1.3);
color: white
}
.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background:#00FFFF;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa{
  0%{
    left: -110%;
      top: 90%;

    }50%{
      left: 10%;
          top: -30%;


      }100%{
        top: -10%;
              left: -10%;

      }

}
.footer{
  background:#0d2240;
  color: #d3d3d3;
  height: 400px;
  
  left: 0;
   bottom: 0;
   width: 100%;

}
.footer .footer-content
{
  border: 1px solid #00FFFF;
  height: 350px;
}
.footer .footer-bottom{
  background:#0d2240;
  color:#00FFFF ;
  height: 70px;
  width: 100%;
  text-align: center;
  position:bottom;
  bottom: 0px;
  left: 0px;
  padding-top: 5px;
}*/
.container-fluid {
  position: relative;
  width:100% ;
 
}
.footer{
  height: 70px !important;
}
.image {
  display: block;
  width: 90%;
  height:50vh ;
  border:#0d2240 ;
  border-style: double;
  box-shadow:2px 2px 4px #0d2240;
  object-fit: cover;
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #0d2240;
  overflow: hidden;
  width: 90%;
  height:0;
  transition: .5s ease;
  margin-left: 5% !important;
  margin-right: 5% !important;
}
.overlay .h1{
  font-size: 0.5vh;
}
.container-fluid:hover .overlay {
  opacity: 1;
  bottom: 0;
  height: 100%;
}

.text {
  color:#ebb700 ;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
@media (max-width: 767px){
  .overlay{
    margin-left: 6%;
    margin-right: 6%;
  }
  .image{
    margin-left: 6%;
    margin-right: 6%;
  }
}
.bg-event{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
 /* border: 3px solid #f1f1f1;*/
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;*/
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

@import url(//fonts.googleapis.com/css?family=Open+Sans);
body > .back
  {
    margin: 5px 20px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNiIgaGVpZ2h0PSI2Ij4KPHJlY3Qgd2lkdGg9IjYiIGhlaWdodD0iNiIgZmlsbD0iI2VlZWVlZSI+PC9yZWN0Pgo8ZyBpZD0iYyI+CjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjMiIGZpbGw9IiNlNmU2ZTYiPjwvcmVjdD4KPHJlY3QgeT0iMSIgd2lkdGg9IjMiIGhlaWdodD0iMiIgZmlsbD0iI2Q4ZDhkOCI+PC9yZWN0Pgo8L2c+Cjx1c2UgeGxpbms6aHJlZj0iI2MiIHg9IjMiIHk9IjMiPjwvdXNlPgo8L3N2Zz4=");*/
    font-family: 'Open Sans'; 
    font-weight: 300; 
}

h2 {
    margin-bottom: 30px;
    color: #4679bd;
    font-weight: 400;
    text-align: center;
}

p.footer {
    margin-bottom: 20px;
    color: #999999;
    font-size: 18px;
    text-align: center;
}

/* -----------------------------------------------
 * Timeline
 * --------------------------------------------- */
 .timeline {
    list-style: none;
    padding: 10px 0;
    position: relative;
    font-weight: 300;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 2px;
    background: #ffffff;
    left: 50%;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 40px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    float: left;
    border: 1px solid #dcdcdc;
    background: #ffffff;
    position: relative;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #dcdcdc;
    border-right: 0 solid #dcdcdc;
    border-bottom: 15px solid transparent;
    content:" ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;
    content:" ";
}
.timeline > li > .timeline-badge {
    color: black;
    width: 24px;
    height: 24px;
    line-height: 10px;
    text-align: center;
    position: absolute;
    top: 16px;
    right: -12px;
    z-index: 100;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge > a {
    color: #0d2240 !important;
}
.timeline-badge a:hover {
    color: #dcdcdc !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-heading h4 {
    font-weight: 400;
    padding: 0 15px;
    color: #4679bd;
    font-family: 'Merriweather', serif;
}
.timeline-body > p, .timeline-body > ul {
    color: #0d2240 ;
    padding: 10px 15px;
    margin-bottom: 0;
}
.timeline-footer {
    padding: 5px 15px;
    background-color:#f4f4f4;
}
.timeline-footer > p{
  color:#0d2240 ;
}
.timeline-footer p { margin-bottom: 0; }
.timeline-footer > a {
    cursor: pointer;
    text-decoration: none;
}
.timeline > li.timeline-inverted {
    float: right;
    clear: right;
}
.timeline > li:nth-child(2) {
    margin-top: 70px;
}

.timeline > li.timeline-inverted > .timeline-badge {
    left: -12px;
}
.timeline-panel{
  margin-left: 10px;
  margin-right: 10px;
}
.no-float {
    float: none !important;
}
@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li {
        margin-bottom: 0px;
        position: relative;
        width:100%;
        float: left;
        clear: left;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 65px);
        width: -moz-calc(100% - 65px);
        width: -webkit-calc(100% - 65px);
    }
    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-badge {
        left: 28px;
    }
}

font-family: 'Roboto', sans-serif;
font-family: 'Baloo Bhaina 2', cursive;
font-family: 'Comic Neue', cursive;
font-family: 'Merriweather', serif;
font-family: 'Girassol', cursive;
font-family: 'Bangers', cursive;
font-family: 'Crimson Text', serif;
font-family: 'Dancing Script', cursive;
