
*{
    font-family:'Crimson Text', serif ;
}
.nav{
    color:white;
}
.nav-link .navbar-brand{
    color: #ebb700 !important;
}
.navbar-brand{
    font-size: 3vw !important;
}
.nav-link{
    font-size: 25px;
}

.content{
  text-align: center;
  font-size: 90px;
  color:#ebb700;
  margin-bottom: 35vw;
}
h1{
    text-align: center !important;
    font-size: 45px!important ;
}
p{
    font-size: 20px;
    text-align: center;
    font-family:'Crimson Text', serif;
    color:#ebb700;
}
h6{
  font-family: 'Crimson Text', serif;
  font-size: 25px;
}
body, html {
  height: 100%;
  max-width:100%;
  font-family:'Crimson Text', serif;
}
.card{
  margin-left: auto;
  margin-right: auto;
  width: auto !important;
}
.board{
  color: #0d2240;
  margin-left: 40.5%;
  margin-right: 40.5%;
  text-shadow: 4px 4px 4px black;
}
.avatar {
  vertical-align: middle;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
}
.avatar:.col-sm-4{
  
}
.names{
  text-align: center;
  margin-left: 35%;
}
.bg-shadow{
  
  text-shadow: 5px 5px 5px black;
  background-color:#0d2240 ;
  box-shadow: 10px 10px 10px black;
  border-radius: 25%;
  padding:35px;
}

.bg{
  background-color:#0d2240;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image {
  /* The image used */
  background: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url("../img/leoclub3.jpg");
  
  
  /* Add the blur effect */

  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.css-selector{
  background: linear-gradient(
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)
  );
}
.bg-color{
  background-color:rgb(1, 1, 54);
}
/* Position text in the middle of the page/image */
.bg-text {
  /*background-color: rgb(0,0,0); /* Fallback color */
  /*background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  background-size: cover;
  color: white;
  font-weight: bold;
 /* border: 3px solid #f1f1f1;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.bg-text1 {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
 /* border: 3px solid #f1f1f1;*/
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;*/
  text-align: center;
}
.border{
  
  padding: 20px;
  border-width: 10px;
}

.parallax {
    height: 30vw;
    /* The image used */
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    
}
/* Footer with icons */
.middle{
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;

}

.btn{
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color:#00FFFF ;
  overflow: hidden;
  position: relative;

}
.btn i{
  line-height: 90px;
  font-size:30px;
  transition: 0.2s linear;
}
.btn:hover i{
transform: scale(1.3);
color: white
}
.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #00FFFF;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa{
  0%{
    left: -110%;
      top: 90%;

    }50%{
      left: 10%;
          top: -30%;


      }100%{
        top: -10%;
              left: -10%;

      }

}
.footer{
  background:#0d2240;
  color: #d3d3d3;
  height: 400px;
  
  left: 0;
   bottom: 0;
   width: 100%;

}
.footer .footer-content
{
  border: 1px solid #00FFFF;
  height: 350px;
}
.footer .footer-bottom{
  background:#0d2240;
  color:#00FFFF ;
  height: 50px;
  width: 100%;
  text-align: center;
  position:bottom;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}
.container {
  position: relative;
  width:100% ;
  height: 50vh;
}

.image {
  display: block;
  width: 100%;
  height:50vh ;
  border:#0d2240 ;
  border-style: double;
  box-shadow:2px 2px 4px #0d2240;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #0d2240;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.overlay .h1{
  font-size: 0.5vh;
}
.container:hover .overlay {
  opacity: 1;
  bottom: 0;
  height: 100%;
}

.text {
  color:#ebb700 ;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

font-family: 'Roboto', sans-serif;
font-family: 'Baloo Bhaina 2', cursive;
font-family: 'Comic Neue', cursive;
font-family: 'Merriweather', serif;
font-family: 'Girassol', cursive;
font-family: 'Bangers', cursive;
font-family: 'Crimson Text', serif;
font-family: 'Dancing Script', cursive;
